body {
    width: 100%;
}

#navbar {
    width: 29%;
    position: absolute;
    margin: 2px;
    padding: 3px;
    border-right: 1px black;
    line-height: 100%;
}

img {
    position: relative;
    width: 200px;
    padding: 2px;
    margin-left: 0px;
}

#navbar header {
    font-size: xx-large;
}

#header ul li {
padding: 5px;
border: 2px solid gray;
margin: 0;
float: left;
}

#main-doc {
    width: 70%;
    float: right;
}

header {
    font-size: xx-large;
}

code {
    background-color: rgb(228, 228, 228);
    display: flex;
    padding: 20px;
    width: 80%;
}

strong {
    font-size: large;
}

.nav-links {
    font-size: larger;
    display: block;
    padding: 5px;
    line-height: 100%;
}

#navbar ul li {
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    line-height: 100%;
    margin-left: -45px;
    border-width: 29%;
}